// .mdc-text-field {
//   & &__input {
//     caret-color: #000;
//     caret-color: var(--mdc-theme-on-primary, #000);
//     caret-color: rgba(0, 0, 0, 0.87)
//   }
//   // &--focused {
//   //   &:not(.mdc-text-field--disabled) {
//   //     .mdc-floating-label {
//   //       // color: #000;
//   //       // color: var(--mdc-theme-on-primary);
//   //       color: rgba(0, 0, 0, 0.6)
//   //     }
//   //   }
//   // }
// }
// .mdc-top-app-bar {
//   background-color: #FFF;
//   color: var(--mdc-theme-primary, #153e7c);
//   & &__navigation-icon {
//     color: var(--mdc-theme-primary, #153e7c);
//   }
//
//   & &__title {
//     color: var(--mdc-theme-primary, #153e7c);
//     padding-right: 20px;
//   }
//   // &--fixed {
//   //   border-bottom: 0px solid var(--mdc-theme-primary, #153e7c);
//   //   transition: border-width 200ms linear;
//   //   &:not(&-scrolled) {
//   //     // color: #FFF;
//   //     // background-color: var(--mdc-theme-primary, #153e7c);
//   //     // & .mdc-top-app-bar__navigation-icon {
//   //     //   color: #FFF;
//   //     // }
//   //     border-bottom: 1px solid var(--mdc-theme-primary, #153e7c);
//   //   }
//   // }
// }

@use "stylesheets/material/theme" as dus-theme;
@use "@material/top-app-bar/mixins" as top-app-bar;

.mdc-top-app-bar {
  @include top-app-bar.fill-color-accessible(dus-theme.$app-bar-primary);
  @include top-app-bar.icon-ink-color(dus-theme.$app-bar-on-primary);
  & &__title {
    padding-right: 20px;
  }
}

.mdc-fab {
  background-color: #153e7c;
  background-color: var(--mdc-theme-primary, #d52027);
  color: #fff;
  color: #fff;
  color: var(--mdc-theme-on-primary, #fff);
}
