/* Build a Material theme */
// To begin customizing your theme, modify these variables. By default each theme starts off with our baseline values, so you can easily swap them out.


/*  Typography */
// To change your theme's typography, we recommend importing a font from Google Fonts and setting the global font-family https://fonts.google.com

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$primary: #153e7c;
$secondary: #d52027;
$font-family: unquote("Roboto, sans-serif");
$error: #333;
$on-error: #ed8b8f;
