<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__header">
    <%= image_pack_tag 'media/images/dus-logo-original.png', alt: 'Down Under Sports', class: 'img' %>
  </div>
  <hr class="mdc-list-divider">
  <div class="mdc-drawer__content">
    <nav class="mdc-list pb-offset" tabindex="0">
      <a class="mdc-list-item" href="/">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
        <span class="mdc-list-item__text">Home</span>
      </a>
      <a class="mdc-list-item" href="/payment">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">card_giftcard</i>
        <span class="mdc-list-item__text">Donate</span>
      </a>
      <a class="mdc-list-item" href="/deposit">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">card_travel</i>
        <span class="mdc-list-item__text">Sign Up</span>
      </a>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">Our Company</h6>
      <a class="mdc-list-item" href="/about">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">group</i>
        <span class="mdc-list-item__text">About Us</span>
      </a>
      <a class="mdc-list-item" href="/story">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">book</i>
        <span class="mdc-list-item__text">Our Story</span>
      </a>
      <a class="mdc-list-item" href="/story">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">ballot</i>
        <span class="mdc-list-item__text">F.A.Q.</span>
      </a>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">Sports</h6>
      <a class="mdc-list-item" href="/basketball">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_basketball</i>
        <span class="mdc-list-item__text">Basketball</span>
      </a>
      <a class="mdc-list-item" href="/cheer">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">emoji_people</i>
        <span class="mdc-list-item__text">Cheer</span>
      </a>
      <a class="mdc-list-item" href="/cross-country">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">landscape</i>
        <span class="mdc-list-item__text">Cross Country</span>
      </a>
      <a class="mdc-list-item" href="/football">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_football</i>
        <span class="mdc-list-item__text">Football</span>
      </a>
      <a class="mdc-list-item" href="/golf">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_golf</i>
        <span class="mdc-list-item__text">Golf</span>
      </a>
      <a class="mdc-list-item" href="/track-and-field">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">directions_run</i>
        <span class="mdc-list-item__text">Track and Field</span>
      </a>
      <a class="mdc-list-item" href="/volleyball">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">sports_volleyball</i>
        <span class="mdc-list-item__text">Volleyball</span>
      </a>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">More</h6>
      <a class="mdc-list-item" href="/infokit">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assessment</i>
        <span class="mdc-list-item__text">Request Info</span>
      </a>
      <a class="mdc-list-item" href="/open-tryouts">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">assignment</i>
        <span class="mdc-list-item__text">Open Tryout</span>
      </a>
      <a class="mdc-list-item" href="/past-participants">
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">history</i>
        <span class="mdc-list-item__text">Past Participants</span>
      </a>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>
