<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">
        <h1 class="theme-builder-title mdc-typography--headline5">
          <svg width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-29.000000, -48.000000)">
                <g>
                  <g transform="translate(0.000000, 44.000000)">
                    <g transform="translate(29.000000, 0.000000)">
                      <g transform="translate(0.000000, 4.000000)">
                        <mask fill="white">
                          <use xlink:href="#mdc-logo-path"></use>
                        </mask>
                        <use fill="#5F6367" fill-rule="nonzero" xlink:href="#mdc-logo-path"></use>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Build a Material Theme
        </h1>
      </span>
    </section>
  </div>
</header>
