<header class="mdc-top-app-bar mdc-top-app-bar--fixed ">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <%= link_to "/", class: 'h-100' do %>
        <%= image_pack_tag 'media/images/dus-logo-original.png', alt: 'Down Under Sports', class: 'img' %>
      <% end %>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <span class="mdc-top-app-bar__title">Down Under Sports</span>
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
    </section>
  </div>
</header>
